.purple{
    background-color: rgb(206, 114, 230);
}

.red{
    background-color: rgb(245, 109, 91)
}

.green{
    background-color: rgb(130, 230, 111)
}

.yellow{
    background-color: rgb(245, 245, 106);

}

.blue{
    background-color: rgb(35, 201, 212);
}

.transperant {
    background-color: transparent;
}