
.black{
    background-color: #262523;
}

.white{
    background-color: white;
}

.greygreen{
    background-color: #e3ebdf;
}


.transperant{
    background-color: transparent;
}

.orange1{
    background-color: #d68037;
}

.orange2{
   background-color: #e9a351;
}

.orange3{
    background-color: #fabe5a;
}




  


.sand{
    background-color: #edd8a1
}

.yelloworange{
    background-color: #ffba49;
}

.orange{
    background-color: #ff8e51;
}

.aquablue{
    background-color: #20a39e;
}

.green{
    background-color: #acda89;
}


.lightsepia{
    background-color: #fff8e8;
}

.yellow{
    background-color: #fcd581;
}

.red{
    background-color: #c42535;
}

.darkred{
    background-color: /* #960c23*/ #981111;
}

}

