@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sanchez&display=swap');

/*----------------------Header Begins-----------------------------*/

body {
    margin: 0px;
    margin: auto;
    background-color: #fff8f8;
}

header h1 {
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    color: #5e9797;
}


#menu-toggle {
    border-bottom: 2px solid #ffa697;
    border-top: 2px solid #ffa697;
}


header label img {
    width: 40px;
    height: auto;
    margin: auto;
    display: block;
    padding: 10px;
}

header input#toggler {
    display: none;
}

input#toggler:checked+nav {
    display: block;
}


nav {
    display: none;
    padding: 0px 10px 20px;
}

nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
}

nav ul li {
    margin: 10px 0px;
    margin: 10px 0px;
    display: inline-block;
    padding: 0px 10px;
    font-family: 'Sanchez', serif;
}

nav a {
    color: #5e9797;
    text-decoration: none;
    font-size: 19px;
    font-weight: 400;
}

nav a:hover {
    color: rgb(170, 199, 33);
}

/*----------------------Header Ends-----------------------------*/


/*----------------------Main Begins-----------------------------*/



/*----------------------Main Ends-----------------------------*/