
.black{
    background-color: #262523;
}

.white{
    background-color: white;
}

.greygreen{
    background-color: #e3ebdf;
}


.transperant{
    background-color: transparent;
}


/*----------Persona 1-------------*/

.lightblue{
    background-color: #dcedff;
}

.blue{
    background-color: #94b0da
}

.bluegrey{
    background-color: #8f91a2;
}

.grey{
    background-color: #505a5b;
}

.darkgrey{
    background-color: #343f3e;
}

  
/*----------Persona 2-------------*/

.sand{
    background-color: #edd8a1
}

.yelloworange{
    background-color: #ffba49;
}

.orange{
    background-color: #ff8e51;
}

.aquablue{
    background-color: #20a39e;
}

.green{
    background-color: #b1d691;
}


/*----------Persona 3-------------*/

.lightsepia{
    background-color: #fff8e8;
}

.yellow{
    background-color: #fcd581;
}

.red{
    background-color: #c42535;
}

.darkred{
    background-color: #960c23;
}

