/*Default- Mobile Mode*/

body{
    margin:0px;
}

nav {
    background-color: #4f854d;
    padding: 20px 10px;
}

nav img{
    width: 105px;
    display: inherit;
    margin: auto;
}

nav ul{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    display: inline-block;
}

nav li {
    border-bottom: 1px solid white;
    padding: 10px 0px;
    margin: 10px;
}

nav li :first-child {
    margin-top: 0px;
}

nav ul a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

/*Tablet Mode*/

@media(min-width:540px){
    
    nav{
        padding: 0px 10px;
    }

    nav img{
        display: inline-block;
    }

    nav ul{
        text-align: center;
    }

    nav ul li {
        display: inline-block;
        padding-bottom: 5px;
        border-bottom: 0px;
        margin: 10px 20px;
    }

/*Desktop Mode*/

@media(min-width:760px){

    nav{
        padding: 0px 10px;
    }

    nav img{
        display: inline-block;
    }

    nav ul{
        text-align: center;
    }

    nav ul li {
        display: inline-block;
        padding-bottom: 5px;
        border-bottom: 0px;
        margin: 10px 20px;
    }

    
}