.teal {
    background-color:#187d71 ;
}

.darkteal {
    background-color:#165b5b;
}



.lightteal {
    background-color: #56b8ac;
}

.offwhite{
    background-color: #fffbf4;
}

.lightbeige{
    background-color:  #fef0d7;
}

.lightorange{
    background-color: #fed9bb;
}


.orange{
    background-color:  #e9784b;
}


.orange-f{
    color:  #e9784b;
}

.transparent {
    background-color: transparent;
}