@import url('https://fonts.googleapis.com/css?family=Grenze&display=swap');
@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');


@import "colors.css";
@import url(layout.css);
@import url(navbar.css);


body,
html {
    height: 100%;
    margin: 0px;
}

/*-----------------HOME BEGINNING---------------------------------------------------------*/
.bg {
    /* The image used */
    background-image: url("taco-backgrd-img.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


main {
    padding-top: 25px;
}


body {
    position: relative;
}

header {
    padding-top: 30px;
}

#hm-container h1 {
    text-align: center;
    color: #fef0d7;
    text-shadow: 2px 2px 4px #393232;
    font-family: 'Grenze', serif;
    font-size: 40px;
}

#hm-content-buttons {
    vertical-align: middle;
    height: 140px;
    width: 140px;
    position: absolute;
    top: 65%;
    left: 40%;
    margin-top: -70px;
    margin-left: -70px;

}


.button {
    vertical-align: middle;
    display: inline-block;
    border-radius: 10px;
    background-color: #35766e;
    opacity: 0.9;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: 'Asap', sans-serif;
    font-size: 20px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

#hm-content-buttons a{
    text-decoration: none;
    color: #FFFFFF;
}

footer h2{
    color: #e9784b; 
    display: inline-block;
}

footer ul{
    display: inline-block;
    width: 50%;
}

footer ul img{
    width: 13%;
    height: auto;
    display: inline-block;
    padding: 0px 5px;
}



@media(min-width: 540px) {

    .button {
        vertical-align: middle;
        display: inline-block;
        border-radius: 10px;
        background-color: #35766e;
        opacity: 0.9;
        border: none;
        color: #FFFFFF;
        text-align: center;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        font-family: 'Asap', sans-serif;
        font-size: 20px;
    }

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .button:hover span {
        padding-right: 25px;
    }

    .button:hover span:after {
        opacity: 1;
        right: 0;
    }

    #hm-container h1 {
        top: 49%;
        left: 51%;
    }

    #hm-content-buttons {
        left: 48%;
    }

    footer ul img{
        width: 7%;
        }

}

@media(min-width: 800px) {

    #hm-container h1 {
        top: 49%;
        left: 51%;
    }

    #hm-content-buttons {
        left: 48%;
    }

    footer ul img{
        width: 7%;
        }

}

/*-----------------HOME END---------------------------------------------------------*/

/*-----------------MENU BEGINNING---------------------------------------------------------*/
h1{
    text-align: center;
    font-family: 'Grenze', serif;
    font-size: 40px;
    color: #187d71;
}

h2{
    font-family: 'Asap', sans-serif;
    font-size: 27px;
}

h3{
    font-family: 'Asap', sans-serif;
    font-size: 20px;
}

.p-15{
    margin: 20px;

}

table {
    border-collapse: collapse;
    width: 100%;
    display: block;
    margin-left: 20px;
    margin-bottom: 50px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    font-family: 'Asap', sans-serif;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #56b8ac;
    color: white;
    text-align: center;
  }

.item-card{
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.18);
    height:474px;
    width:291px;
    vertical-align: middle;
    margin: 20px;
    padding: 20px;
}

.item-card img{
    width: 100%;
    height: 240px;
    padding: 0px;
}

.item-card p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}

.dropbtn {
    background-color: #56b8ac;
    color: white;
    padding: 16px;
    font-size: 18px;
    font-family: 'Asap', sans-serif;
    border: none;
    cursor: pointer;
    width: 50%;
  }
  
  .dropdown {
    position: relative;
    float: left;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left:0;
  }
  
  .dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Asap', sans-serif;
  }
  
  .dropdown-content li:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #439b91;
  }

  .dropbtn img{
      width: 20%;   
      height: auto;
  }

  .item-card button a{
    text-decoration: none;
    color: #FFFFFF;
  }

#dd-gif{
    height: auto;
}

.item-card .button{
    background-color: #56b8ac;
}

@media(min-width: 540px) {
    table{
        display: table;
    }
}

@media(min-width: 800px) {
    table{
        display: table;
    }
}


/*-----------------MENU END---------------------------------------------------------*/

/*-----------------LOCATION BEGINNING---------------------------------------------------------*/

.loc-content p,h1,h2{
    margin-left: 20px;
}

iframe{
    margin-top: 20px;
    margin-left: 20px;                      
    width: 400px;
    height: 300px;
}

@media(min-width: 540px) {
    iframe{
        width:600px;
        height:450px;
    }

}
/*-----------------LOCATION END---------------------------------------------------------*/

/*-----------------CONTACT BEGINNING---------------------------------------------------------*/

#contact-body {
    /* The image used */
    background-image: url("colorful-veggies.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



body {
    font-family:'Asap', sans-serif;
    box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #e9784b;
  border-radius: 15px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #439b91;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:#439b91;
}

.form-container {
  border-radius: 5px;
  background-color:#f3f0ed;
  padding: 20px;
  margin-bottom: 50px;
}

.form-container h3{
    text-align: center;
}


/*-----------------CONTACT END---------------------------------------------------------*/






