body {
    margin: 0px;
}

#brand_logo {
    width: 120px;
    height: auto;
    margin: auto;
    margin-top: 15px;
    margin-top: 0px;
    display: block;

}

#dd_logo {
    width: 40px;
    height: auto;
    display: inline-block;
}

#lo_icon {
    width: 40px;
    height: auto;
    margin: 10px;
    display: inline-block;
}

header input#toggler {
    display: none;
}

header label img {
    width: 40px;
    height: auto;
    margin: auto;
    padding: 20px;
}

nav {
    padding: 20px 10px;
    display: none;
    background-color:
        /*#fc6324*/
        #e9784b;
    z-index: 100;
    position: relative;
}

/* ----------WAVE BORDER EXPERIMENGT---------
.wave{
    text-align: center;
    background: linear-gradient(to bottom, sandybrown, chocolate);
    height: 85px;
    position: relative;
  }
  .wave::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat-x;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, white 13px);
  }
  .wave::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat-x;
    height: 15px;
    background-size: 40px 20px;
    background-image: radial-gradient(circle at 10px 15px, white 12px, transparent 13px);
  }

  */

input#toggler:checked+nav {
    display: block;
}

nav ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

nav li {
    padding: 10px 0px;
    margin: 10px;
    font-family: 'Grenze', serif;
    font-size: 23px;
}

nav li:first-child {
    margin-top: 0px;
}

nav ul a {
    text-decoration: none;
    color: white;
    line-height: 40px;
    /*for vertical centering */
}

nav a:hover {
    color: rgb(128, 67, 60);
}


nav a.current{
    text-decoration: underline;
}



@media(min-width: 540px) {
    nav ul li {
        display: inline-block;
        padding-bottom: 5px;
        border-bottom: 0px;
        margin: 10px 20px;
    }

    header label {
        display: none;
    }

    nav ul {
        text-align: center;
    }

    nav {
        display: block;
        padding: 0px 10px;
    }

    #brand_logo{
        margin-bottom: 20px;
        width: 150px;
    }

}