header img {
    width: 55px;
}

main img{
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.b-aerial-view{
    height: 310px;
}

.height-lg-300{
    height: 300px;
}

.ab-img{
    height: 300px;
}