@import url("images.css");
@import url('https://fonts.googleapis.com/css?family=Gayathri:100,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300i,400,700&display=swap');


body {
    margin: 0px;
    background-color: #fefffe;
    position: relative;
}

/*---------------- Header -------------------*/

header {
    background-color: #fefffe;
}

header input#toggler {
    display: none;
}

header img{
    display: block;
    margin: auto;
}

header label img {
    width: 40px;
    height: auto;
    margin: 10px;
}

header h1{
    text-align: center;
    margin: 0px;
    padding: 0px 20px;
    font-family: 'Gayathri', sans-serif;
    font-weight: 700;
    color: #893c40;
    font-size: 35px;
    
}

nav {
    padding: 20px 10px;
    display: none;
}

input#toggler:checked + nav{
    display: block;
}

nav ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

nav ul li {
    background-color:#baa7a7;
    padding: 10px 47px;
    margin: 10px;
}

nav li:first-child {
    margin-top: 0px;
}

nav ul a {
    text-decoration: none;
    color: #130303;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}



/*---------------- MAIN -------------------*/

.floater-section {
    float: left;
    width: 100%;
}

.container::after {
    clear: both;
    content: "";
    display: block;
}


main div h1{
    text-align: center;
    margin: auto;
    padding: 130px 0px;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    color: #893c40;

}

main div p{
  color: white;
  margin: 20px 40px;
  font-size: 17px;
  font-family: 'Lato', sans-serif;

}

.browngrey{
    background-color: #baa7a7;
}

.mutedred{
    background-color: #893c40;
}

.beige{
    background-color: beige;
}

/*---------------- Tablet View -------------------*/


@media(min-width: 540px){
        
    header input#toggler {
        display: none;
    }

    input#toggler:checked + nav{
        display:  block;
    }

    header h1{
        font-size:45px;
    }

    nav ul li {
        display: inline-block;
        border-bottom: 0px;
        background-color: transparent;
        border: 2px solid #baa7a7;
        border-radius: 4px;
        margin: 10px 5px;
        padding: 10px;
    }

    nav ul {
        text-align: right;
        padding-right: 30px;
      
    }

    nav {
        padding: 0px 5px;
        background-color: transparent;
    }

    /* MAIN */

    main{
        margin-top: 30px;
    }

    main div h1{
        text-align: center;
        margin: auto;
        font-family: 'Lato', sans-serif;
        font-size: 40px;
        color: #893c40;
        padding: 30px 0px;
    }

    div{
        max-height: 310px;
    }

    .ab-sec-1{
        height: 200px;
    }

    .width-md-50 {
        width: 50%;
    }

    .width-md-33 {
        width: 33%;
    }

    .height-md-300{
        height: 300px;
    }

    .mutedred{
        background-color: #893c40;
    }
    
    .hc-bg{
        color:  #baa7a7;

    }

   
} 

/*---------------- Desktop View -------------------*/

@media (min-width: 800px){
    header h1{
    font-size: 45px;
    }

    main{
        margin-top: 30px;
    }

    main div h1{
        text-align: center;
        margin: auto;
        font-family: 'Lato', sans-serif;
        font-size: 40px;
        color: #893c40;
        padding: 30px 0px;
    }

    div{
    max-height: 300px;
    }

    nav{
        background-color: transparent;
    }

    nav ul{
        text-align: right;
        padding-right: 30px;
      
    }

    nav ul li{
        background-color: transparent;
        margin: 10px 5px;
        border: 2px solid #baa7a7;
        border-radius: 4px;
        padding: 10px;
    }


    .width-lg-25 {
        width: 25%;
    }

    .width-lg-33 {
        width: 33%;
    }

    .width-lg-50 {
        width: 50%;
    }

    .width-lg-100 {
        width: 100%;
    }

    .height-300{
        height: 300px;
    }


    .mutedred{
        background-color: #893c40;
    }

    .hc-bg{
        color:  #baa7a7;

    }
    
}